
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* White background for header */
}

.left-header h1 {
    margin: 0;
    font-size: 2em;
    color: #000; /* Black text color for main title */
}

.left-header p {
    margin: 0;
    color: #C0C0C0; /* Ghost grey for subtitle */
}

.right-header a {
    text-decoration: none;
    color: #000; /* Black text color for links */
    margin-left: 20px;
    font-size: 1em;
    transition: color 0.3s;
}

.right-header a:hover {
    color: #555; /* Darker grey on hover for links */
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

section {
    width: 30%;
    text-align: center; /* Center align the section headings */
}

section h2 {
    display: inline-block;
    padding-bottom: 5px;
    color: #000; /* Black text color for section titles */
    border-bottom: 3px solid transparent; /* Transparent underline by default */
}

#projects h2 {
    border-bottom-color: #FFBF00; /* Amber underline for projects */
}

#essays h2 {
    border-bottom-color: #2980b9; /* Blue underline for essays */
}

#readings h2 {
    border-bottom-color: #cb4335; /* Red underline for readings */
}

#essays ul {
    list-style: none;
    padding: 0;
}

#essays li {
    padding: 5px 0;
    cursor: pointer;
    transition: padding-left 0.3s;
}

#essays li:hover {
    text-decoration: underline;
    padding-left: 10px; /* Indent text on hover to add interaction */
}
